/*
 * Disroot flavor
 */

:root {
  --disroot-purple: #50162d;
  --disroot-purple-lighter: #80264a;
  --disroot-purple-even-lighter: #e7518e;
  --disroot-purple-darker: #201c1c;
  --disroot-green: #8eb726;
  --disroot-green-lighter: #afcf60;
  --disroot-green-even-lighter: #cde78c;
  --disroot-green-darker: #71911e;
  --disroot-blueish: #1f5c60;
  --disroot-blueish-lighter: #38989f;
}

// Category color
.category label {
  color: #c0bbbb;
}

// Navbar links in right corner only on results page
// (needed when using disroot color as navbar background)
.results_endpoint #links_on_top a,
.results_endpoint #links_on_top a:active *,
.results_endpoint #links_on_top a:hover *,
.results_endpoint #links_on_top a:link *,
.results_endpoint #links_on_top a:visited * {
  color: #fff !important;
}

// Navbar magnifying glass color
#search_logo svg g circle,
#search_logo svg g path {
  stroke: var(--disroot-purple-even-lighter);
}

#search_logo svg g rect {
  fill: var(--disroot-purple-even-lighter);
}

// Have a slightly more bright disroot purple color on logo png
// when in dark mode
.theme-dark .index .title {
  filter: brightness(1.25);
}

.theme-dark img.logo {
  filter: brightness(1.25);
}